.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}

h1{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

p{
    margin: 20px;
    text-align: justify;
}

pre{
    margin: 40px;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

span{
    font-weight: bold;
}