.container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

.ejercicio{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    width: 80%;
}

.ejercicio p{
    text-align: justify;
}

.titulo,
.demostracion{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

.subtitulo{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}


p{
    margin: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
}

pre{
    margin: 0;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

ul{
    list-style-type: disclosure-closed;
    list-style-position: inside;
    margin: 30px;
}

li{
    text-align: left;
}

.ejemplo1,
.ejemplo2{
    display: block;
    width: 150px;
    height: 150px;
    border: 2px solid #A6ACAF;
    margin: 30px auto;
}

.ejemplo2{
    display: inline-block;
    margin: 20px;
}

a{
    display: block;
    margin: 40px auto;
    text-align: left;
    text-indent: 20px;
}

a:hover{
    text-decoration: none;
    color: #F8C471;
}

.contenedor .parrafo{
    text-indent: 30px;
    text-align: justify;
}

.contenedor .parrafo .resaltar{
    color: #138D75;
    font-weight: bolder;
    font-style: oblique;
    text-decoration: underline; 
}