container{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    color: #212F3D;
    font-size: 16px;
    padding: 20px 30px;
}

.ejercicio{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    width: 80%;
}

.ejercicio p{
    text-align: justify;
}

h1, h2{
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
}

small{
    display: block;
    color: #8C9193;
}

hr{
    margin: 40px;
}


p{
    margin: 20px;
    text-align: justify;
}

span{
    font-weight: bold;
}

pre{
    margin: 0;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}

#parrafo1{
	padding: 20px;
	margin: 20px auto;
	text-align: justify;
	color: #808B96;
	border: 1px solid #85C1E9;
	background-color: #FEF5E7;
}

#parrafo2{
	padding: 20px;
	margin: 20px auto;
	text-align: center;
	color: #273746;
	border: 1px solid #F4D03F;
	background-color: #F4F6F6 ;
}