.bordes{
	display: block;
	border: 2px solid #1880C6;
	background-color: #E1E7EC;
	margin: 20px auto;
}

.bordesPorLado{
	display: block;
	margin: 30px auto;
	border-right: 5px solid red;
	border-top: 4px dotted blue;
	border-left: 4px dashed orange;
	border-bottom: 7px solid gray;
	background-color: #E1E7EC;
}