.menu p{
	margin: 0px;
	padding: 0px;
}

.menu a{
	display: block;
	width: 30%;
	background: #094490;
	color: #fff;
	border-bottom: 1px solid #eeeeee;
	padding: 7px;
	font: normal 20px arial;
	text-align: center;
}

.menu a:link, a:visited{
	text-decoration: none;
}

.menu a:hover{
	background: #87B4F0 ;
	color: #F8F47C;
	border-bottom: 2px solid #094490;
	font-family: 'Courier New', Courier, monospace;
}



