.menu {
	font: 20px verdana;
}

.menu p{
	margin: 0px;
	padding: 0px;
}

.menu a{
	display: block;
	width: 20%;
	background: silver;
	color: #3b5998;
	border-bottom: 1px solid #eeeeee;
	padding: 3px;
	text-align: center;
}

.menu a:link, a:visited{
	text-decoration: none;
}

.menu a:hover{
	background: #dfe1ee;
	color: black;
	border: 2px dotted orange;
}



