.menu{
	display: flex;
	flex-flow: flex-end;
	margin: 0px auto;
	padding: 0px;
	list-style-type: none;
}

.menu a{
	display: block;
	margin: 0px auto;
	padding: 5px 15px;
	background-color: #163973;
	border-right: 1px solid #B9BDC2;
	text-align: center;
	font: 20px 'Courier New', Courier, monospace;
	color: #fff;

}

.menu li{
	width: 20%;
	float: left;
}

.menu a:link, a:visited{
	text-decoration: none;
}

.menu a:hover{
	color: #163973;
	border-bottom: 2px solid #163973;
	background: #DFE3EB;
}