.color1{
	background: #faa;
	color: rgb(44,14,63);
	border: 1px solid hsl(217, 77%, 30%);
	padding: 10px 20px;
}

.color2{
	color: white;
	background: rgb(44,14,63);
	padding: 10px 20px;
}

.color3{
	padding: 10px 20px;
	background: rgba(76,155,244,.6);
	color: #fff;
	border: 1px solid #0B49AD;
}