.formulario{
	display: block;
	background-color: #E4ECFA ;
	border: 1px solid #3974D2 ;
	width: 500px;
	margin: 50px auto;
	padding: 20px 40px;
}

h3{
	display: block;
	font: bold 20px 'Courier New', Courier, monospace;
	width: 80%;
	margin: 20px auto;
}

label{
	display: block;
	margin: 30px auto;
	font: oblique 14px monospace;
}

.name, .email{
	display: block;
	width: 400px;
	background-color: #E4ECFA;
	margin: 30px auto;
	border: 0px;
	border-bottom: 1px solid #000;
	padding: 5px;
	font: 12px monospace;
}

.coments{
	width: 80%;
	display: block;
	margin: 20px auto;
}

#boton{
	width: 40%;
	display: block;
	margin: 10px auto;
	padding: 10px;
}

.name:hover, .email:hover{
	border-bottom: 2px solid #3974D2 ;
	box-shadow: 43px 30px 85px -31px rgba(0,0,0,0.7);
}

#boton:hover{
	width: 45%;
	border-radius: 10px;
	box-shadow: 43px 30px 85px -31px rgba(0,0,0,0.7);
}