caption{
	text-align: center;
	padding: 10px;
	border: 1px solid #F4F6F6;
	
}

table{
	font: bold 15px Arial;
	border-collapse: collapse;
	border: 1px solid #F4F6F6 ;
	width: 100%;
}

th{
	background: #AED6F1;
	border-right: 1px solid #FEF9E7;
	border-bottom: 1px solid #FEF9E7;
	width: 25%;
}
thead th{
	padding: 15px;
}

td{
	border: 1px solid #F4F6F6;
	padding: 1em;
	background: #FEF9E7;
	font-weight: lighter;
	text-align: center;
}

tfoot td{
	font: bold 13px Arial;
	text-align: center;
	background: #E0FFFF;
}