
.contenedor{
	border: 2px solid #2196F3;
	background: #E1F5FE;
	margin: 20px 30px;
	padding: 10px;
}

.container1{
	position: relative;
	top: 90px;
}

.container2{
	position: relative;
	left: 30px;
	top: 40px;
}

.square1, .square2, .square3, .square4{
	width: 200px;
	height: 200px;
	border: 2px solid #6D4C41 ;
	background: #FFEBEE;
	display: block;
	float: left;
	text-align: center;

}

.square1{
	position: relative;
	top: 100px;
	left: 180px;
}

.square4{
	position: relative;
	top: 100px;
	right: 180px;
}

.square11, .square12, .square13, .square14, .square15{
	margin-top: 150px;
	width: 200px;
	height: 200px;
	border: 2px solid #2980B9 ;
	background: #ECEFF1 ;
	display: block;
	float: left;
	text-align: center;

}

.square15{
	width: 400px;
	height: 300px;
	font: italic 15px verdana;
	position: relative;
	top: -300px;
}


.square11{
	position: relative;
	left: 600px;
}


.square12{
	position: relative;
	top: 100px;
	left: 420px;
}

.square13{
	position: relative;
	top: 180px;
	right: -40px;
}

.square14{
	position: relative;
	top: 110px;
	right: 360px;
}


.square21, .square22, .square23, .square24{
	margin-top: 200px;
	width: 25%;
	height: 30%;
	border: 2px solid #FF5722;
	background: #F1F8E9;
	display: block;
	float: left;
	text-align: center;

}

.square21{
	position: relative;
	top: 100px;
	left: -480px;
}

.square22{
	position: relative;
	top: -200px;
	left: -250px;

}

.square23{
	position: relative;
	top: -500px;
	left: 470px;
}

.square24{
	position: relative;
	top: -450px;
	left: 320px;
}

