.barra{
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	margin-top:10px;
	background: #E2DED9;
}

.contenido{
	margin-top: 10px;
	margin-left: 270px;
	margin-right: 20px;
	height: 100%;
}