.barra{
	position: absolute;
	/*position: fixed;*/
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	margin-top:10px;
	background: #F4F6F6;
}

.contenido{
	margin-top:10px;
	margin-left: 220px;
	margin-right: 20px;
	padding-top: 10px;
}

.menu{
	display: block;
	width: 80%;

	margin: 20px;
	padding: 0;

	font: 20px verdana;
	text-align: center;
}


.menu li{
	display: block;
	margin: 0;
	padding: 0;

	width: 100%;

	list-style: none;
	border-bottom: 1px solid #fff;	
}

.menu a{
	display: block;
	margin: 0 auto;
	padding: 10px;
	text-decoration: none;
	background-color: #000;
	color: #D1D1DE;
}

.menu a:hover{
	width: 100%;
	background: #6C6EF6 ;
	color: #fff;
}

