*{
	margin: 0;
	padding: 0;
}

img{
	float: right;
	background-image: url("https://www.1keydata.com/css-tutorial/example-float-right-float-left.jpg");
	background-repeat: no-repeat;
	width: 350px;
	height: 450px;
	margin: 20px 0 50px 30px;
}

.ejercicio{
	margin-top: 100px;
}

.letraCapital{
	float: left;
	font-size: 50px;
	margin-right: 20px ;
}

.parrafo{
	margin-top: 40px;
}