*{
	margin: 0;
	padding: 0;
}

.sidebar{
	float: left;
	width: 200px;
	height: 100%;

	background-color: #E6E6F0;
	text-align: center;
}

.contenedor2, .principal{
	margin: 10px 20px 10px 220px;
	background: #FADBD8;
}
