
.container{
	padding: 0;
}

.header{
	width: 100%;

	padding: 10px;

	background-color: #C3F5F4 ;
	border-bottom: 1px solid #2AB3AF;
}

.header h3{
	text-align: right;
}

.sidebar{
	float: left;
	width: 250px;

	border-right: 1px solid #2AB3AF;

	text-align: justify;
}

.article{
	margin-left: 320px;
	padding: 1rem;

}

.footer{
	clear: left;

	padding: 5px;

	border-top: 1px solid #2AB3AF ;
	background: #C3F5F4;
}

.footer p{
	text-align: right;
}

h3{
	margin-top: 20px;
	text-align: center;
}