.container{
	padding: 0;
}

.header{
	padding: 10px;
	width: 100%;
	
	background: #EAFFFB;
	border-bottom: 1px solid #24F2C9;
	border-radius: 15px;
}

.columna1,
.columna3{
	float: left;
	width: 300px;

	padding: 1rem;
	margin: 0;
	
	border-left: 1px solid #C8CFCD;
	border-right: 1px solid #C8CFCD;
	border-radius: 15px;
}

.columna2{
	margin: 0 auto;

	width: 500px;
	padding: 1rem;

	border-left: 1px solid #C8CFCD;
	border-right: 1px solid #C8CFCD;
	border-radius: 15px;

}

.columna3{
	float: right;
}

.columna1 p, .columna2 p, .columna3 p{
	margin-bottom: 20px;
}

.footer{
	clear: left;
	width: 100%;

	margin-top: 450px;
	padding: 10px 20px;

	background: #EAFFFB;
	border-top: 1px solid #24F2C9;
	border-radius: 15px;
	
}

.footer p{
	font: bold 20px verdana;
	text-align: right;
	
}