*{
	margin: 0;
	padding: 0;
}

h1{
	font: bold 30px verdana;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

h2{
	font: bold 20px verdana;
	text-align: center;
	margin: 15px auto; 
}

span{
	font: 18px verdana;
	font-weight: bold;
}


p{
	font: 15px verdana;
	text-align: justify;
	margin: 10px 20px;
}

li{
	display: inline;
	padding: 5px;
}

.header{
	background-color: #eee;
	margin: 10px;
	padding: 10px;
}

.container1, .container2, .container3{
	background-color: #eee;
	width: 280px;
	float: left;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}

.footer p{
	text-align: center;
	background-color: #eee;
	margin: 10px;
	padding: 10px;
	clear: both;
}
