body{
	width: 960px;
	margin: 0 auto;
}

.container{
	padding: 0;
}

.navbar{
	display: block;

	margin: 20px;
	padding: 0;

	background-color: #eee;
	border-radius: 15px;
}

li{
	display: inline-block;
	margin: 15px 40px;
	padding: 5px;
}

.container1, 
.container2, 
.container3{
	display: block;
	float: left;
	width: 260px;
		
	margin: 20px 30px;
	padding: 10px;

	background-color: #eee;
	border-radius: 15px;
}

.footer{
	clear: both;
	width: 100%;
	margin-top: 50px;
}

.footer p{
	margin: 20px;
	padding: 10px;

	text-align: center;
	background-color: #eee;

	border-radius: 15px;
}
