h3{
	text-align: left;
	margin: 40px;
}

ul{
	margin: 30px;
}

.contenedor1, 
.contenedor2{
	display: block;
	width: 80%;

	margin: 40px auto;
	
	border-bottom: 1px solid #C0C3C8;
	border-left: 1px solid #C0C3C8;
	border-radius: 15px;
}

ul em{
	font: bold 1.2rem 'sans-serif';
	color: #E62B14;
}

.contenedor2 > p{
	color: #0842A9;
}