*{
	margin: 0;
	padding: 0;
}

h1{
	font: bold 25px tahoma;
	text-align: center;
	margin: 20px auto;
}

span{
	font: bold 20px verdana;
}

p{
	margin: 20px;
}

.container{
	border: 1px solid #000;
	margin: 20px;
	padding: 20px;
}

ol>li{
	color: red;
	margin: 10px;
}

ul>li{
	color: blue;
	margin: 5px 40px;
}

