.contenedor{
	
	margin: 20px auto;
	padding: 10px 20px;

	border: 1px solid #BAD1F7;
	border-radius: 1rem;
	
}

h3,
h4{
	margin: 30px auto;
}

/* Adjacent selector */
h3 + hr + p{
	font: oblique lighter 18px verdana;
	color: #256EE7;

	text-indent: 2cm;
	
}

/* General selector */
h4 ~ p{
	text-decoration: underline;
}