

ol{
	display: block;
	margin-top: 40px;
	text-align: justify;
}

.contenedor{
	display: block;

	margin: 30px auto;
	padding: 20px;

	background-color: #FFF;

	border: 1px solid #F3A670;
	border-radius: 15px;

	box-shadow: 21px -13px 56px -28px rgba(0,0,0,0.54);
}

/*Selector para el atributo target del elemento html a*/
a[target] {
	color: red;
	text-decoration: none;
}

/*Selector para el atributo target definido como #*/
a[href='#']{
	font: oblique lighter 20px tahoma;
	text-decoration: underline;
	color: #00f;
}

a[href^="https"]{
	font: oblique lighter 20px tahoma;
	color: #f00;
}

a[href$=".mx"]{
	font: oblique lighter 20px tahoma;
	color: #0f0;
}

a[href*="yahoo"]{
	font: oblique lighter 20px tahoma;
	color: #F06D0C;
}