*{
	margin: 0;
	padding: 0;
}

h1{
	font: bold 20px verdana;
	text-align: center;
	margin: 20px;
}

span{
	font-size: 20px;
	font-weight: bold;
}

div{
	border: 1px solid #000;
	width: 30%;
	margin: 25px 25px;
	float: left;
	

}

p{
	margin: 20px;
}

ol{
	margin: 40px;
}

li{
	font: italic 20px tahoma;
}

.nombres li:nth-child(odd){
	text-decoration: line-through;
	color: red;
}

.nombres li:nth-child(even){
	text-decoration: underline;
	color: blue;
}

.nombres2 li:nth-child(4n){
	color:green;
}
