
.contenedor{
	display: block;
	float: left;
	width: 40%;

	margin: 30px 40px;
	padding: 20px 30px;

	border: 1px solid #BDC6C6;
	border-radius: 15px;

}

ol li{
	text-align: left;
}


.nombres li:nth-child(odd){
	text-decoration: line-through;
	color: red;
}

.nombres li:nth-child(even){
	text-decoration: underline;
	color: blue;
}

.nombres2 li:nth-child(4n){
	color:green;
}
