
.contenedor, 
.contenedor2,
.ejemplo{
	display: block;
	width: 90%;

	margin: 45px auto;
	padding: 25px;

	border: 1px solid #BDC6C6;
	border-radius: 15px;

}

.contenedor p, 
.contenedor2 p,
.ejemplo p{
	text-align: justify;

}

.contenedor p:nth-child(3){
	color: #E73408;
}

.contenedor2 p:nth-of-type(1){
	color: #45E708 ;
}

.ejemplo{
	width: 100%;

	margin: 20;
	padding: 20px 15px;
}
.ejemplo>p{
	margin-top: 40px;
}

.ejemplo strong:first-of-type{
	font: italic bolder 20px tahoma;
	color: #0852E7;
	text-decoration: underline;
}

.ejemplo strong:last-of-type{
	display: inline-block;
	margin: 2px;
	padding: 2px;

	color: #E78C08;
	border: 1px solid #E708AE;

}

.ejemplo em:first-of-type{
	color: #8808E7;
}

.ejemplo em:last-of-type{
	color:aquamarine;
}