
.contenedor{
	display: block;
	width: 80%;
	
	margin: 20px auto;
	padding: 20px 10px;

	border: 1px solid #000;
	border-radius: 15px;
}

#fechainicio li:only-child{
	color: blue;
}

#equipo1 p:only-of-type{
	color: #f00;
}

#fechafin li:nth-child(2){
	color: orange;
}

#equipo2 p:nth-of-type(2){
	color: green;
}