
.primera_letra p::first-letter{
	font: oblique bolder 2.5rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
	color: lime;
	margin-right: 5px;
}

.primera_linea p::first-line{
	font: italic 18px verdana;
	color:red;
	text-decoration: underline;
}