.contenedor{
	display: block;

	border: 1px solid #000;
	border-radius: 20px;
}

@media (min-width: 550px){
	.contenedor{
		display: block;
		
		min-width: 500px;
		height: 550px;

		margin: 30px auto;
		padding: 40px 20px;

		column-count: 1;
	}

	.contenedor > p{
		margin: 30px 20px;
	}
}

@media (min-width: 768px){
	.contenedor{
		display: block;
		
		width: 700px;
		height: 450px;

		margin: 30px auto;
		padding: 40px 20px;

		column-count: 2;
	}

	.contenedor > p{
		margin: 20px;
	}
}

@media (min-width: 1200px){
	.contenedor{
		display: block;
		
		width: 900px;
		height: 350px;

		margin: 30px auto;
		padding: 40px 20px;

		column-count: 3;
	}

	.contenedor > p{
		margin: 0 20px;
	}
}
