img{
	background-image: url(../images/flexbox.jpg);
	background-repeat: no-repeat;

	width: 60%;
	height: 300px;

	margin: 25px auto;
}

.contenedor{
	display: flex;

	margin: 25px auto;
	padding: 20px 10px;

	background-color: #FAEEA9;
	border-radius: 20px;
}

.contenedor div{
	margin: 10px;
	padding: 10px;

	background: #FDD8DD;
	border: 1px solid #F3203E;

	border-radius: 15px;
}