*{
	margin: 0;
	padding: 0;
}

h1{
	font: bold 30px verdana;
	text-align: center;
	margin: 25px;
}

p{
	text-align: justify;
	margin: 25px;
}

span{
	font: italic 18px tahoma;
	font-weight: bold;
}

ul li{
	margin:7px 40px;
}

.img1, .img2{
	display: block;
	margin: 25px auto;
}

.img3, .img4{
	display: inline-block;
	margin: 20px auto;
}

.caja1 {
	border: 2px solid #48C9B0 ;
	font: bold 20px verdana;
	color: white;
  	background-color: #0078A6;
  	padding: 20px;
}
.caja2 {
	border: 2px solid #48C9B0 ;
	font: bold 20px verdana;
	color: white;
  	background-color: #0084B6;
  	padding: 20px;
}
.caja3 {
	border: 2px solid #48C9B0 ;
	font: bold 20px verdana;
	color: white;
  	background-color: #008CC1;
  	padding: 20px;
}


.container{
	display: flex;
	flex-direction: row;
	width: 60%;
	margin: 30px auto;
	padding: 15px;
}


.container2{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 30px auto;
	padding: 15px;
}


.container3{
	display: flex;
	flex-direction: row-reverse;
	width: 60%;
	margin: 30px auto;
	padding: 15px;
}


.container4{
	display: flex;
	flex-direction: column-reverse;
	width: 60%;
	margin: 30px auto;
	padding: 15px;
}
