.img1, .img2{
	display: block;
	margin: 15px auto;
}

.img3, .img4{
	display: block;
	margin: 15px auto;
}

h3{
	margin-top: 20px;
}

.caja{
	display: block;
	width: 100px;
	height: 100px;

	margin: 0 auto;
	padding: 35px 10px;

	background-color: #E7A024;
	border: 2px solid #000 ;

	font: bold 24px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
}

.contenedor{
	display: flex;
	flex-direction: row;
	width: 60%;

	margin: 30px auto;
	padding: 15px;

	background-color: #A615EA;
}

.contenedor2{
	flex-direction: column;
}

.contenedor3{
	flex-direction: row-reverse;
}

.contenedor4{
	flex-direction: column-reverse;
}
