h1{
	font-family: tahoma;
	text-align: center;
	margin: 20px;
	padding: 30px;
	border: 1px solid black;
}

p{
	text-align: justify;
	color: blue;
	font-family: arial;
	font-size: 20px;
	margin: 10px 50px;
}