*{
	margin: 0;
	padding: 0;
}

h1{
	font: bold 30px verdana;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

h2{
	font: bold 20px verdana;
	text-align: center;
	margin: 20px;
}

p{
	font: 15px verdana;
	margin: 20px 30px;
}

.barra{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	margin-top:10px;
	background: #F4F6F6;
}

.contenido{
	margin-top:10px;
	margin-left: 220px;
	margin-right: 20px;
	background: #F4F6F6;
	padding-top: 10px;
}

.menu{
	display: block;
	font: 20px verdana;
	margin: 20px;
	width: 80%;
	text-align: center;
	background: #FADBD8;
}


.menu li{
	padding: 5px;
	text-decoration: none;
	list-style: none;
	border-bottom: 1px solid #5499C7;
}

.menu a{
	text-decoration: none;
	color: #000;
}

.menu li:hover{
	background: #D5F5E3;
}
